* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neue Helvetica W05', Arial, Helvetica, sans-serif !important;
}

.navbar-container {
  padding-top: 20px;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.navbar-container > img{
  padding-left: 14rem;
  width: 25%;
}

.list-items {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
}

.navbar-list-items {
  list-style-type: none;
  display: flex;
  color: #2a317d;
}

.navbar-list-items > * {
  padding: 30px;
}

.vertical-line {
  font-size: 40px;
  color: #666;
}

.navbar-right-language-toggles {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}